In [95]:
import numpy as np 
import pandas as pd

In [96]:
trainData = pd.read_csv('train.csv')
testData = pd.read_csv('test.csv')
testData

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,01/05/2000,Antalya,Other,FC,5,5.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
99996,99996,07/18/2011,Niğde,Other,IL,1,2.0,4.0,3.0,1,...,1.0,3.0,5,0,0,0,4,0,0,0
99997,99997,12/29/2012,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,1,...,4.0,1.0,5,5,3,2,4,4,4,2
99998,99998,10/12/2013,İstanbul,Big Cities,FC,12,7.5,6.0,6.0,4,...,7.5,5.0,0,0,0,4,0,0,0,0
99999,99999,10/05/2010,İstanbul,Big Cities,IL,2,5.0,4.0,4.0,2,...,5.0,3.0,0,2,0,2,2,4,2,0

In [97]:
trainData

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,132,06/25/2008,Trabzon,Other,FC,2,3.0,3.0,5.0,4,...,3.0,0,0,0,0,0,0,0,0,5787594.0
133,133,10/12/2006,İzmir,Big Cities,FC,4,5.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,9262754.0
134,134,07/08/2006,Kayseri,Other,FC,3,4.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,2544857.0
135,135,10/29/2010,İstanbul,Big Cities,FC,4,5.0,4.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,7217634.0
136,136,09/01/2009,İstanbul,Big Cities,FC,4,5.0,3.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,6363241.0

In [98]:
trainData = trainData.drop('Id', axis=1)
testData = testData.drop('Id', axis=1)

In [99]:
trainData['Open Date'] = pd.to_datetime(trainData['Open Date'], format='%m/%d/%Y')   
testData['Open Date'] = pd.to_datetime(testData['Open Date'], format='%m/%d/%Y')

In [100]:
trainData['OpenDays']=""
testData['OpenDays']=""

In [101]:
dateLastTrain = pd.DataFrame({'Date':np.repeat(['01/01/2015'],[len(trainData)]) })
dateLastTrain['Date'] = pd.to_datetime(dateLastTrain['Date'], format='%m/%d/%Y')  
dateLastTest = pd.DataFrame({'Date':np.repeat(['01/01/2015'],[len(testData)]) })
dateLastTest['Date'] = pd.to_datetime(dateLastTest['Date'], format='%m/%d/%Y')

In [102]:
trainData['OpenDays'] = dateLastTrain['Date'] - trainData['Open Date']
testData['OpenDays'] = dateLastTest['Date'] - testData['Open Date']

In [103]:
trainData['OpenDays'] = trainData['OpenDays'].astype('timedelta64[D]').astype(int)
testData['OpenDays'] = testData['OpenDays'].astype('timedelta64[D]').astype(int)

In [104]:
trainData = trainData.drop('Open Date', axis=1)
testData = testData.drop('Open Date', axis=1)

In [105]:
trainData

,City,City Group,Type,P1,P2,P3,P4,P5,P6,P7,...,P30,P31,P32,P33,P34,P35,P36,P37,revenue,OpenDays
0,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,5,...,5,3,4,5,5,4,3,4,5653753.0,5647
1,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,5,...,0,0,0,0,0,0,0,0,6923131.0,2513
2,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,5,...,0,0,0,0,0,0,0,0,2055379.0,663
3,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,10,...,25,12,10,6,18,12,12,6,2675511.0,1064
4,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,5,...,5,1,3,2,3,4,3,3,4316715.0,2063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Trabzon,Other,FC,2,3.0,3.0,5.0,4,2,4,...,0,0,0,0,0,0,0,0,5787594.0,2381
133,İzmir,Big Cities,FC,4,5.0,4.0,4.0,2,3,5,...,0,0,0,0,0,0,0,0,9262754.0,3003
134,Kayseri,Other,FC,3,4.0,4.0,4.0,2,3,5,...,0,0,0,0,0,0,0,0,2544857.0,3099
135,İstanbul,Big Cities,FC,4,5.0,4.0,5.0,2,2,5,...,0,0,0,0,0,0,0,0,7217634.0,1525
136,İstanbul,Big Cities,FC,4,5.0,3.0,5.0,2,2,5,...,0,0,0,0,0,0,0,0,6363241.0,1948

In [106]:
cityPerc = trainData[["City Group", "revenue"]].groupby(['City Group'],as_index=False).mean()
#sns.barplot(x='City Group', y='revenue', data=cityPerc)

In [107]:
citygroupDummy = pd.get_dummies(trainData['City Group'])
trainData = trainData.join(citygroupDummy)

In [108]:
citygroupDummyTest = pd.get_dummies(testData['City Group'])
testData = testData.join(citygroupDummyTest)

In [109]:
trainData = trainData.drop('City Group', axis=1)
testData = testData.drop('City Group', axis=1)

In [110]:
#Regression on everything
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_context("notebook", font_scale=1.1)
sns.set_style("ticks")

In [111]:
import numpy
xTrain = pd.DataFrame({'OpenDays':trainData['OpenDays'].apply(numpy.log),
                      'Big Cities':trainData['Big Cities'], 'Other':trainData['Other'],
                      'P2':trainData['P2'], 'P8':trainData['P8'], 'P22':trainData['P22'],
                      'P24':trainData['P24'], 'P28':trainData['P28'], 'P26':trainData['P26']})
#xTrain = trainData.drop(['revenue'], axis=1)
#xTrain['OpenDays'] = xTrain['OpenDays'].apply(numpy.log)
yTrain = trainData['revenue'].apply(numpy.log)
xTest = pd.DataFrame({'OpenDays':testData['OpenDays'].apply(numpy.log),
                      'Big Cities':testData['Big Cities'], 'Other':testData['Other'],
                     'P2':testData['P2'], 'P8':testData['P8'], 'P22':testData['P22'],
                      'P24':testData['P24'], 'P28':testData['P28'], 'P26':testData['P26']})

In [112]:
from sklearn import linear_model

In [113]:
model = RandomForestRegressor(n_estimators=150)
model.fit(xTrain, yTrain)
pred = model.predict(xTest)
pred = numpy.exp(pred)
model.score(xTrain, yTrain)

0.8653785104137939

In [114]:
pred = model.predict(xTest)
pred = numpy.exp(pred)

In [115]:
pred

array([3945595.40342372, 2974841.17909774, 2086223.03391869, ...,
       2700923.29879436, 3029077.64486992, 4959605.73248789])

In [116]:
pred2 = []
for i in range(len(pred)):
    if pred[i] != float('Inf'):
        pred2.append(pred[i])

m = sum(pred2) / float(len(pred2))

for i in range(len(pred)):
    if pred[i] == float('Inf'):
        print("Recheck the values")
        pred[i] = m

In [117]:
testData = pd.read_csv("test.csv")
submission = pd.DataFrame({
        "Id": testData["Id"],
        "Prediction": pred
    })
submission.to_csv('RandomForestSimple.csv',header=True, index=False)

In [120]:
final_model = model

In [121]:
final_model

RandomForestRegressor(n_estimators=150)

In [26]:
testData.columns

Index(['Id', 'Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3', 'P4',
       'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
       'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
       'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
       'P36', 'P37'],
      dtype='object')

In [27]:
final_model = model

In [30]:
xTest.shape

(100000, 9)

In [31]:
a=trainData['City'].value_counts()
a

İstanbul          50
Ankara            19
İzmir              9
Bursa              5
Samsun             5
Sakarya            4
Antalya            4
Tekirdağ           3
Eskişehir          3
Diyarbakır         3
Kayseri            3
Adana              3
Aydın              2
Trabzon            2
Muğla              2
Konya              2
Kocaeli            1
Gaziantep          1
Kastamonu          1
Elazığ             1
Amasya             1
Kütahya            1
Şanlıurfa          1
Isparta            1
Kırklareli         1
Bolu               1
Tokat              1
Karabük            1
Balıkesir          1
Uşak               1
Edirne             1
Osmaniye           1
Denizli            1
Afyonkarahisar     1
Name: City, dtype: int64

In [32]:
b=a.index
b

Index(['İstanbul', 'Ankara', 'İzmir', 'Bursa', 'Samsun', 'Sakarya', 'Antalya',
       'Tekirdağ', 'Eskişehir', 'Diyarbakır', 'Kayseri', 'Adana', 'Aydın',
       'Trabzon', 'Muğla', 'Konya', 'Kocaeli', 'Gaziantep', 'Kastamonu',
       'Elazığ', 'Amasya', 'Kütahya', 'Şanlıurfa', 'Isparta', 'Kırklareli',
       'Bolu', 'Tokat', 'Karabük', 'Balıkesir', 'Uşak', 'Edirne', 'Osmaniye',
       'Denizli', 'Afyonkarahisar'],
      dtype='object')

In [34]:
c={}
for i,j in enumerate(b):
  c.update({j:i})
  print(c)

{'İstanbul': 0}
{'İstanbul': 0, 'Ankara': 1}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19, 'Amasya': 20}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19, 'Amasya': 20, 'Kütahya': 21}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19, 'Amasya': 20, 'Kütahya': 21, 'Şanlıurfa': 22}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19, 'Amasya': 20, 'Kütahya': 21, 'Şanlıurfa': 22, 'Isparta': 23}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19, 'Amasya': 20, 'Kütahya': 21, 'Şanlıurfa': 22, 'Isparta': 23, 'Kırklareli': 24}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19, 'Amasya': 20, 'Kütahya': 21, 'Şanlıurfa': 22, 'Isparta': 23, 'Kırklareli': 24, 'Bolu': 25}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19, 'Amasya': 20, 'Kütahya': 21, 'Şanlıurfa': 22, 'Isparta': 23, 'Kırklareli': 24, 'Bolu': 25, 'Tokat': 26}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19, 'Amasya': 20, 'Kütahya': 21, 'Şanlıurfa': 22, 'Isparta': 23, 'Kırklareli': 24, 'Bolu': 25, 'Tokat': 26, 'Karabük': 27}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19, 'Amasya': 20, 'Kütahya': 21, 'Şanlıurfa': 22, 'Isparta': 23, 'Kırklareli': 24, 'Bolu': 25, 'Tokat': 26, 'Karabük': 27, 'Balıkesir': 28}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19, 'Amasya': 20, 'Kütahya': 21, 'Şanlıurfa': 22, 'Isparta': 23, 'Kırklareli': 24, 'Bolu': 25, 'Tokat': 26, 'Karabük': 27, 'Balıkesir': 28, 'Uşak': 29}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19, 'Amasya': 20, 'Kütahya': 21, 'Şanlıurfa': 22, 'Isparta': 23, 'Kırklareli': 24, 'Bolu': 25, 'Tokat': 26, 'Karabük': 27, 'Balıkesir': 28, 'Uşak': 29, 'Edirne': 30}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19, 'Amasya': 20, 'Kütahya': 21, 'Şanlıurfa': 22, 'Isparta': 23, 'Kırklareli': 24, 'Bolu': 25, 'Tokat': 26, 'Karabük': 27, 'Balıkesir': 28, 'Uşak': 29, 'Edirne': 30, 'Osmaniye': 31}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19, 'Amasya': 20, 'Kütahya': 21, 'Şanlıurfa': 22, 'Isparta': 23, 'Kırklareli': 24, 'Bolu': 25, 'Tokat': 26, 'Karabük': 27, 'Balıkesir': 28, 'Uşak': 29, 'Edirne': 30, 'Osmaniye': 31, 'Denizli': 32}
{'İstanbul': 0, 'Ankara': 1, 'İzmir': 2, 'Bursa': 3, 'Samsun': 4, 'Sakarya': 5, 'Antalya': 6, 'Tekirdağ': 7, 'Eskişehir': 8, 'Diyarbakır': 9, 'Kayseri': 10, 'Adana': 11, 'Aydın': 12, 'Trabzon': 13, 'Muğla': 14, 'Konya': 15, 'Kocaeli': 16, 'Gaziantep': 17, 'Kastamonu': 18, 'Elazığ': 19, 'Amasya': 20, 'Kütahya': 21, 'Şanlıurfa': 22, 'Isparta': 23, 'Kırklareli': 24, 'Bolu': 25, 'Tokat': 26, 'Karabük': 27, 'Balıkesir': 28, 'Uşak': 29, 'Edirne': 30, 'Osmaniye': 31, 'Denizli': 32, 'Afyonkarahisar': 33}

In [35]:
c

{'İstanbul': 0,
 'Ankara': 1,
 'İzmir': 2,
 'Bursa': 3,
 'Samsun': 4,
 'Sakarya': 5,
 'Antalya': 6,
 'Tekirdağ': 7,
 'Eskişehir': 8,
 'Diyarbakır': 9,
 'Kayseri': 10,
 'Adana': 11,
 'Aydın': 12,
 'Trabzon': 13,
 'Muğla': 14,
 'Konya': 15,
 'Kocaeli': 16,
 'Gaziantep': 17,
 'Kastamonu': 18,
 'Elazığ': 19,
 'Amasya': 20,
 'Kütahya': 21,
 'Şanlıurfa': 22,
 'Isparta': 23,
 'Kırklareli': 24,
 'Bolu': 25,
 'Tokat': 26,
 'Karabük': 27,
 'Balıkesir': 28,
 'Uşak': 29,
 'Edirne': 30,
 'Osmaniye': 31,
 'Denizli': 32,
 'Afyonkarahisar': 33}

In [36]:
trainData['City'] = trainData['City'].map(c)
trainData

,City,Type,P1,P2,P3,P4,P5,P6,P7,P8,...,P32,P33,P34,P35,P36,P37,revenue,OpenDays,Big Cities,Other
0,0,IL,4,5.0,4.0,4.0,2,2,5,4,...,4,5,5,4,3,4,5653753.0,5647,1,0
1,1,FC,4,5.0,4.0,4.0,1,2,5,5,...,0,0,0,0,0,0,6923131.0,2513,1,0
2,9,IL,2,4.0,2.0,5.0,2,3,5,5,...,0,0,0,0,0,0,2055379.0,663,0,1
3,26,IL,6,4.5,6.0,6.0,4,4,10,8,...,10,6,18,12,12,6,2675511.0,1064,0,1
4,17,IL,3,4.0,3.0,4.0,2,2,5,5,...,3,2,3,4,3,3,4316715.0,2063,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,13,FC,2,3.0,3.0,5.0,4,2,4,4,...,0,0,0,0,0,0,5787594.0,2381,0,1
133,2,FC,4,5.0,4.0,4.0,2,3,5,4,...,0,0,0,0,0,0,9262754.0,3003,1,0
134,10,FC,3,4.0,4.0,4.0,2,3,5,5,...,0,0,0,0,0,0,2544857.0,3099,0,1
135,0,FC,4,5.0,4.0,5.0,2,2,5,5,...,0,0,0,0,0,0,7217634.0,1525,1,0
136,0,FC,4,5.0,3.0,5.0,2,2,5,4,...,0,0,0,0,0,0,6363241.0,1948,1,0

In [37]:
trainData['Type'].value_counts()

FC    76
IL    60
DT     1
Name: Type, dtype: int64

In [38]:
ty={'FC':0,'IL':1,'DT':2}
trainData['Type'] = trainData['Type'].map(ty)
trainData

,City,Type,P1,P2,P3,P4,P5,P6,P7,P8,...,P32,P33,P34,P35,P36,P37,revenue,OpenDays,Big Cities,Other
0,0,1,4,5.0,4.0,4.0,2,2,5,4,...,4,5,5,4,3,4,5653753.0,5647,1,0
1,1,0,4,5.0,4.0,4.0,1,2,5,5,...,0,0,0,0,0,0,6923131.0,2513,1,0
2,9,1,2,4.0,2.0,5.0,2,3,5,5,...,0,0,0,0,0,0,2055379.0,663,0,1
3,26,1,6,4.5,6.0,6.0,4,4,10,8,...,10,6,18,12,12,6,2675511.0,1064,0,1
4,17,1,3,4.0,3.0,4.0,2,2,5,5,...,3,2,3,4,3,3,4316715.0,2063,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,13,0,2,3.0,3.0,5.0,4,2,4,4,...,0,0,0,0,0,0,5787594.0,2381,0,1
133,2,0,4,5.0,4.0,4.0,2,3,5,4,...,0,0,0,0,0,0,9262754.0,3003,1,0
134,10,0,3,4.0,4.0,4.0,2,3,5,5,...,0,0,0,0,0,0,2544857.0,3099,0,1
135,0,0,4,5.0,4.0,5.0,2,2,5,5,...,0,0,0,0,0,0,7217634.0,1525,1,0
136,0,0,4,5.0,3.0,5.0,2,2,5,4,...,0,0,0,0,0,0,6363241.0,1948,1,0

In [39]:
trainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 43 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        137 non-null    int64
 1   Type        137 non-null    int64
 2   P1          137 non-null    int64
 3   P2          137 non-null    float64
 4   P3          137 non-null    float64
 5   P4          137 non-null    float64
 6   P5          137 non-null    int64
 7   P6          137 non-null    int64
 8   P7          137 non-null    int64
 9   P8          137 non-null    int64
 10  P9          137 non-null    int64
 11  P10         137 non-null    int64
 12  P11         137 non-null    int64
 13  P12         137 non-null    int64
 14  P13         137 non-null    float64
 15  P14         137 non-null    int64
 16  P15         137 non-null    int64
 17  P16         137 non-null    int64
 18  P17         137 non-null    int64
 19  P18         137 non-null    int64
 20  P19         137 non-null    int64
 21  P20         137 non-null    int64
 22  P21         137 non-null    int64
 23  P22         137 non-null    int64
 24  P23         137 non-null    int64
 25  P24         137 non-null    int64
 26  P25         137 non-null    int64
 27  P26         137 non-null    float64
 28  P27         137 non-null    float64
 29  P28         137 non-null    float64
 30  P29         137 non-null    float64
 31  P30         137 non-null    int64
 32  P31         137 non-null    int64
 33  P32         137 non-null    int64
 34  P33         137 non-null    int64
 35  P34         137 non-null    int64
 36  P35         137 non-null    int64
 37  P36         137 non-null    int64
 38  P37         137 non-null    int64
 39  revenue     137 non-null    float64
 40  OpenDays    137 non-null    int32
 41  Big Cities  137 non-null    uint8
 42  Other       137 non-null    uint8
dtypes: float64(9), int32(1), int64(31), uint8(2)
memory usage: 43.7 KB

In [40]:
x = trainData[['City', 'Type', 'P1', 'P2', 'P3', 'P4',
            'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
            'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
            'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
            'P36', 'P37']]

In [41]:
y = trainData['revenue']

In [42]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.25, random_state=10)

In [43]:
xtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 121 to 9
Data columns (total 39 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    102 non-null    int64
 1   Type    102 non-null    int64
 2   P1      102 non-null    int64
 3   P2      102 non-null    float64
 4   P3      102 non-null    float64
 5   P4      102 non-null    float64
 6   P5      102 non-null    int64
 7   P6      102 non-null    int64
 8   P7      102 non-null    int64
 9   P8      102 non-null    int64
 10  P9      102 non-null    int64
 11  P10     102 non-null    int64
 12  P11     102 non-null    int64
 13  P12     102 non-null    int64
 14  P13     102 non-null    float64
 15  P14     102 non-null    int64
 16  P15     102 non-null    int64
 17  P16     102 non-null    int64
 18  P17     102 non-null    int64
 19  P18     102 non-null    int64
 20  P19     102 non-null    int64
 21  P20     102 non-null    int64
 22  P21     102 non-null    int64
 23  P22     102 non-null    int64
 24  P23     102 non-null    int64
 25  P24     102 non-null    int64
 26  P25     102 non-null    int64
 27  P26     102 non-null    float64
 28  P27     102 non-null    float64
 29  P28     102 non-null    float64
 30  P29     102 non-null    float64
 31  P30     102 non-null    int64
 32  P31     102 non-null    int64
 33  P32     102 non-null    int64
 34  P33     102 non-null    int64
 35  P34     102 non-null    int64
 36  P35     102 non-null    int64
 37  P36     102 non-null    int64
 38  P37     102 non-null    int64
dtypes: float64(8), int64(31)
memory usage: 31.9 KB

In [44]:
xtest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 75 to 20
Data columns (total 39 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    35 non-null     int64
 1   Type    35 non-null     int64
 2   P1      35 non-null     int64
 3   P2      35 non-null     float64
 4   P3      35 non-null     float64
 5   P4      35 non-null     float64
 6   P5      35 non-null     int64
 7   P6      35 non-null     int64
 8   P7      35 non-null     int64
 9   P8      35 non-null     int64
 10  P9      35 non-null     int64
 11  P10     35 non-null     int64
 12  P11     35 non-null     int64
 13  P12     35 non-null     int64
 14  P13     35 non-null     float64
 15  P14     35 non-null     int64
 16  P15     35 non-null     int64
 17  P16     35 non-null     int64
 18  P17     35 non-null     int64
 19  P18     35 non-null     int64
 20  P19     35 non-null     int64
 21  P20     35 non-null     int64
 22  P21     35 non-null     int64
 23  P22     35 non-null     int64
 24  P23     35 non-null     int64
 25  P24     35 non-null     int64
 26  P25     35 non-null     int64
 27  P26     35 non-null     float64
 28  P27     35 non-null     float64
 29  P28     35 non-null     float64
 30  P29     35 non-null     float64
 31  P30     35 non-null     int64
 32  P31     35 non-null     int64
 33  P32     35 non-null     int64
 34  P33     35 non-null     int64
 35  P34     35 non-null     int64
 36  P35     35 non-null     int64
 37  P36     35 non-null     int64
 38  P37     35 non-null     int64
dtypes: float64(8), int64(31)
memory usage: 10.9 KB

In [45]:
from sklearn.linear_model import LinearRegression

In [46]:
model = LinearRegression()

In [47]:
model.fit(xtrain,ytrain)

LinearRegression()

In [48]:
model.coef_

array([   25386.3328239 ,   -28186.09254764,  -131941.79794601,
         818801.00353273,   -10792.63828938,  -170398.85080002,
         -11377.28425236,   397308.70845467,  -142657.48422913,
       -1529831.84774937,  1690096.66254815,  -758895.91187283,
        -246223.56866595,    80100.17552453,  -465925.03684701,
        -311746.80406249,   468212.72318633,  -646017.75375516,
         236547.12015417,   331172.83702129,    17314.29153186,
        -281486.31473096,   237996.69698999,  -328582.47335464,
          90662.47177147,   627964.78856569,   741246.75504224,
       -1422176.64532473,   183495.76301508,   601709.2642613 ,
         201345.18557584,    62984.30923692,    62132.37596013,
          48423.95245315,  -867638.13981694,   463639.84548162,
         -47631.81418604,  -359754.69441578,   330165.80916459])

In [62]:
features = trainData.drop('revenue',axis=1)

In [50]:
print('%.1f%%'%(model.score(xtest,ytest) * 100))

2.0%

In [51]:
ypred = model.predict(xtest)

In [52]:
ypred

array([7108633.27743999, 4917307.75465038, 3795520.14496506,
       4131826.79453915, 5837670.29988209, 4276716.18855543,
       2775439.86779123, 4078590.84688455, 3378099.79842055,
       5324440.95292375, 5826502.40054056, 4430001.01600318,
       4926750.09068347, 4147573.21248391, 1016429.67014245,
       5823524.99788224, 4206442.40656167, 7641906.86862956,
       4464437.41663654, 6633797.3902228 , 3642008.62043316,
       4520696.40695137, 8526846.60563042, 3142155.70506123,
       5954423.97373326, 6647870.75086232, 5609811.53613316,
       1524481.59809504, 7998890.20684594, 2664473.86610706,
       3302922.49321605, 4037303.80653662, 1655584.1939669 ,
       4058635.21882127, 8650318.33563059])

In [53]:
ytest

75     16549064.0
133     9262754.0
41      4554237.0
102     2738052.0
129     3939804.0
70      3982767.0
101     4758476.0
59      3600467.0
79      6313221.0
98      2344689.0
67      4052733.0
24      8904084.0
1       6923131.0
2       2055379.0
93      3410878.0
60      3164972.0
91      2083447.0
38      5461700.0
53      5595267.0
26      2267425.0
108     3570392.0
56      2390534.0
10      3745135.0
35      3903884.0
55      6941173.0
47      7865428.0
114     4155435.0
76      4590423.0
97      6694797.0
94      3753720.0
52      1763231.0
19      2021934.0
14      1999097.0
39      3818055.0
20      5525735.0
Name: revenue, dtype: float64

In [54]:
from sklearn.metrics import mean_absolute_error

In [55]:
print(mean_absolute_error(ytest,ypred))

2166370.584707019

In [56]:
ypred[0]

7108633.27743999

In [57]:
100*mean_absolute_error(ytest,ypred)/ypred[0]

30.475205291321306

In [64]:
#SINCE THE ABOVE MODEL IS NOT FIT WHEN WE BUILD A GUI WE ARE GONNA SELECT IMPORTANT FEATUES AND THEN TRAIN AND TEST THEM AND BUILD A MODEL ACCORDINGLY